{
  "openapi": "3.0.3",
  "info": {
    "title": "Valendata REST API",
    "version": "1.0.0",
    "description": "Trigger Skills, manage Workflows, retrieve Runs, and stream structured results from any language using JSON over HTTPS."
  },
  "servers": [
    {
      "url": "https://api.valendata.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Skills",
      "description": "Execute and inspect published Skills."
    },
    {
      "name": "Workflows",
      "description": "Trigger multi-step Workflows and list them."
    },
    {
      "name": "Runs",
      "description": "Start async Skill runs and read Skill and Workflow run results."
    },
    {
      "name": "Skill creation",
      "description": "Create a Skill from a plain-language task."
    },
    {
      "name": "Skill improvement",
      "description": "Fix a Skill, add fields to it or re-learn its detail steps, poll the result, and read its change history."
    },
    {
      "name": "Versions",
      "description": "List, diff, restore, and pin a Skill's recipe versions."
    },
    {
      "name": "Webhooks",
      "description": "Signed delivery of finished async runs."
    }
  ],
  "paths": {
    "/v1/skills/run": {
      "post": {
        "operationId": "runSkill",
        "summary": "Run a Skill by ID",
        "description": "Execute a published Skill by ID and receive strict JSON output enforced against the Skill's defined output schema.",
        "tags": [
          "Skills"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "skill_id"
                ],
                "properties": {
                  "skill_id": {
                    "type": "string",
                    "description": "The unique identifier of the published Skill to execute. Skill IDs follow the format skl_...",
                    "example": "skl_b281b8165a23"
                  },
                  "parameters": {
                    "type": "object",
                    "description": "Key-value map of parameter values to pass to the Skill. Parameter names must match those defined in the Skill's configuration.",
                    "additionalProperties": true,
                    "example": {
                      "page": "/bestsellers",
                      "max_results": 50
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Skill executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillRunResult"
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "name": "Widget Pro",
                      "price": 129.0,
                      "in_stock": true
                    },
                    {
                      "name": "Widget Lite",
                      "price": 49.0,
                      "in_stock": false
                    }
                  ],
                  "count": 2,
                  "execution_time_ms": 18400,
                  "error": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        }
      }
    },
    "/v1/skills/{slug}/run": {
      "post": {
        "operationId": "runSkillBySlug",
        "summary": "Run a Skill by slug",
        "description": "Run a published Skill and wait for the rows. Put the Skill's inputs at the top level of the JSON body (or in the query string). The body keys `browser_type`, `proxy_config`, `profile_id`, `scrape_mode`, `max_pages`, and `version` are run settings, not inputs. Inputs are checked against `input_schema` before anything runs. If too many of your runs are in progress, this returns 429 with `Retry-After` instead of waiting.",
        "tags": [
          "Skills"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URL-safe slug of the Skill.",
            "example": "bestsellers-scraper"
          },
          {
            "name": "max_results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 500
            },
            "description": "Max rows; 0 returns the whole list. Omit for the Skill's saved default."
          },
          {
            "name": "max_pages",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Page limit for paginated Skills; 0 means all pages."
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Recipe version to replay for this call."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Key-value map of parameter values to pass to the Skill.",
                "additionalProperties": true,
                "example": {
                  "page": "/bestsellers"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Skill executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillRunResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        }
      }
    },
    "/api/skills": {
      "get": {
        "operationId": "listSkills",
        "summary": "List all Skills",
        "description": "Retrieve a paginated list of every published Skill scoped to your current Workspace, including IDs, names, versions, and timestamps.",
        "tags": [
          "Skills"
        ],
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "One-based page number to return."
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of Skill objects per page. Accepts values between 1 and 100."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of Skills",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "skills": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SkillSummary"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of Skills in your Workspace."
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/skills/{skill_id}": {
      "get": {
        "operationId": "getSkill",
        "summary": "Get a Skill",
        "description": "Fetch complete details for one Skill by ID, including its full parameter schema and the JSON Schema that governs its output structure.",
        "tags": [
          "Skills"
        ],
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the Skill to retrieve (format skl_...).",
            "example": "skl_b281b8165a23"
          }
        ],
        "responses": {
          "200": {
            "description": "Skill details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/workflows": {
      "get": {
        "operationId": "listWorkflows",
        "summary": "List all Workflows",
        "description": "Retrieve every Workflow in your account, including IDs, names, step configurations, run counts, and timestamps. Returns a flat array ordered by created_at descending.",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Workflow objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workflow"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/workflows/{workflow_id}/run": {
      "post": {
        "operationId": "runWorkflow",
        "summary": "Run a Workflow",
        "description": "Trigger a multi-step Workflow by ID, pass input parameters into the first step, and receive the full run result with per-step output.",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workflow_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the Workflow to run.",
            "example": "3f2a1bc4-e89b-12d3-a456-426614174000"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "inputs": {
                    "type": "object",
                    "description": "Key-value map of input parameters to pass into the first step. Reference these in step configs with {{inputs.field_name}}.",
                    "additionalProperties": true,
                    "default": {},
                    "example": {
                      "target_url": "https://example.com/pricing"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow run result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowRun"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/workflows/{workflow_id}/runs": {
      "get": {
        "operationId": "listWorkflowRuns",
        "summary": "List Workflow runs",
        "description": "Retrieve the 50 most recent runs for a specific Workflow, ordered most recent first, including status, outputs, credits, and per-step results.",
        "tags": [
          "Runs"
        ],
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workflow_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the Workflow whose run history you want to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Array of up to 50 WorkflowRun objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkflowRun"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/workflows/{workflow_id}/runs/{run_id}": {
      "get": {
        "operationId": "getWorkflowRun",
        "summary": "Get a Workflow run",
        "description": "Retrieve the full result of a specific Workflow run by ID, including status, outputs, credits charged, and per-step execution details.",
        "tags": [
          "Runs"
        ],
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workflow_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the Workflow."
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the specific run to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowRun"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/skills": {
      "post": {
        "operationId": "createSkillFromTask",
        "summary": "Create a Skill from a task",
        "description": "Record `task` in a cloud browser from `start_url` and publish it as a Skill. Answers at once with a creation id; poll `GET /v1/skill-creations/{creation_id}`. Up to 2 recordings in progress per account; needs at least 10 credits. Recordings cannot sign in to websites.",
        "tags": [
          "Skill creation"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The same key from the same account returns what it already started."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSkillRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Creation started (or the existing one, for a repeated Idempotency-Key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillCreationStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/skill-creations/{creation_id}": {
      "get": {
        "operationId": "getSkillCreation",
        "summary": "Get a Skill creation",
        "description": "Where a creation is: `queued`, `recording`, `validating`, `ready` (run `run_url`), or `failed` (`error` says why). Only the account that started it can read it.",
        "tags": [
          "Skill creation"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "creation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "sc_3f9a1c2b7d4e5f60"
          }
        ],
        "responses": {
          "200": {
            "description": "The creation's current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillCreationStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/skills/{slug}": {
      "get": {
        "operationId": "getSkillContract",
        "summary": "Get a Skill's contract",
        "description": "The Skill with its `input_schema`, `output_json_schema`, `reliability`, versions, and fast path. A public Skill needs no credentials. A private Skill returns 404 to anyone who may not run it.",
        "tags": [
          "Skills"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URL-safe slug of the Skill.",
            "example": "austin-dentists"
          }
        ],
        "responses": {
          "200": {
            "description": "The Skill and its contract.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillContract"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/skills/{slug}/health": {
      "get": {
        "operationId": "getSkillHealth",
        "summary": "Get a Skill's health",
        "description": "Success rate and repairs over the last 20 runs, when it last worked, the last failure kind, the live recipe version, and each route's health. Public for public Skills; private Skills return 404 to anyone who may not run them.",
        "tags": [
          "Skills"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URL-safe slug of the Skill.",
            "example": "austin-dentists"
          }
        ],
        "responses": {
          "200": {
            "description": "The Skill's health.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillHealth"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/skills/{slug}/runs": {
      "post": {
        "operationId": "startSkillRun",
        "summary": "Start an async Skill run",
        "description": "Validate the inputs, start the run, and answer at once with a `run_id`. If your account is at its limit of runs in progress, the run queues. Poll `GET /v1/runs/{run_id}` or pass `webhook_url`.",
        "tags": [
          "Runs"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URL-safe slug of the Skill.",
            "example": "austin-dentists"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The same key from the same account returns what it already started."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartRunRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Run queued (or the existing one, for a repeated Idempotency-Key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartRunResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/runs/{run_id}": {
      "get": {
        "operationId": "getSkillRun",
        "summary": "Get an async Skill run",
        "description": "Status while it runs, and the result once it is done. Rows are in `rows`. Readable by whoever started the run and by the Skill's owner.",
        "tags": [
          "Runs"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "run_8c1d2e3f4a5b"
          }
        ],
        "responses": {
          "200": {
            "description": "The run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillRunStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/webhooks/secret": {
      "get": {
        "operationId": "getWebhookSecret",
        "summary": "Get your webhook signing secret",
        "description": "The secret your webhook deliveries are signed with. Each delivery carries `X-Valendata-Timestamp` and `X-Valendata-Signature: v1=<hex HMAC-SHA256(secret, \"<timestamp>.<raw body>\")>`.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Your signing secret.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSecret"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/skills/{slug}/versions": {
      "get": {
        "operationId": "listSkillVersions",
        "summary": "List recipe versions",
        "description": "Every recipe version, newest first, with which one is live and which is pinned. Needs the right to run the Skill.",
        "tags": [
          "Versions"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URL-safe slug of the Skill.",
            "example": "austin-dentists"
          }
        ],
        "responses": {
          "200": {
            "description": "The versions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/skills/{slug}/versions/{a}/diff/{b}": {
      "get": {
        "operationId": "diffSkillVersions",
        "summary": "Diff two recipe versions",
        "description": "What changed from version `a` to version `b`.",
        "tags": [
          "Versions"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URL-safe slug of the Skill.",
            "example": "austin-dentists"
          },
          {
            "name": "a",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 2
          },
          {
            "name": "b",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 3
          }
        ],
        "responses": {
          "200": {
            "description": "The differences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionDiff"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/skills/{slug}/versions/{n}/restore": {
      "post": {
        "operationId": "restoreSkillVersion",
        "summary": "Restore a recipe version",
        "description": "Make version `n` the live recipe. The restore is saved as a new version. Owner or workspace editor only.",
        "tags": [
          "Versions"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URL-safe slug of the Skill.",
            "example": "austin-dentists"
          },
          {
            "name": "n",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Restored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestoreResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/skills/{slug}/pin": {
      "put": {
        "operationId": "pinSkillVersion",
        "summary": "Pin or unpin a recipe version",
        "description": "`{\"version\": n}` pins the Skill to version `n`; `{\"version\": null}` unpins it. While pinned, automatic repairs are saved as candidate versions and do not change what runs. Owner or workspace editor only.",
        "tags": [
          "Versions"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URL-safe slug of the Skill.",
            "example": "austin-dentists"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "minimum": 1,
                    "nullable": true,
                    "description": "Version to pin; null unpins."
                  }
                },
                "example": {
                  "version": 3
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The pin state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PinResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        }
      }
    },
    "/v1/skills/{slug}/improve": {
      "post": {
        "operationId": "improveSkill",
        "summary": "Improve a Skill",
        "description": "Change a Skill in one of three modes. `fix` (default): relearn it from a plain-English hint about where the data is. `add_fields`: capture new fields you describe in plain English; the request is first compared with the Skill's fields, so a re-worded duplicate is merged into the existing field and an unclear one comes back as a question. `relearn_details`: rebuild how the Skill opens each result (its per-row detail steps), for when the site changed or detail fields come back empty. Every mode runs on a cloud browser, saves a new recipe version and checks it with a short run (up to 5 rows). The new version stays live only if it is better; otherwise it is kept as a candidate and the previous recipe stays live. Owner or workspace editor only; drafts allowed. One improvement at a time per account and per Skill, up to 6 an hour, at least 10 credits to start. Charged to the caller.",
        "tags": [
          "Skill improvement"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "austin-dentists"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The same key from the same account returns what it already started."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImproveSkillRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Improvement started (or the existing one, for a repeated Idempotency-Key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillImprovementStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The Skill is already being improved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/skill-improvements/{improvement_id}": {
      "get": {
        "operationId": "getSkillImprovement",
        "summary": "Get a Skill improvement",
        "description": "Where an improvement is: `queued`, `working`, `validating`, `done` (`result` and `improved` say whether the new version is live; `changes` shows each field before → after; `details` shows new, merged and unclear fields) or `failed` (`error`). The account that started it and anyone who can edit the Skill (its owner or a workspace editor) can poll it; anyone else gets 404.",
        "tags": [
          "Skill improvement"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "improvement_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "imp_3f9a1c2b7d4e5f60"
          }
        ],
        "responses": {
          "200": {
            "description": "The improvement's current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillImprovementStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/skills/{slug}/improvements": {
      "get": {
        "operationId": "listSkillImprovements",
        "summary": "List a Skill's change history",
        "description": "The Skill's full change history, newest first: every fix, added field and re-learn by anyone allowed to edit it (the owner or a workspace editor), from any channel (`source`), plus past Refine and Re-learn entries imported from before (`imported: true`, `result: applied`).",
        "tags": [
          "Skill improvement"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "austin-dentists"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 5
            },
            "description": "How many to return, 1–50."
          }
        ],
        "responses": {
          "200": {
            "description": "The Skill's change history, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "improvements": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SkillImprovementStatus"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "vd_sk_...",
        "description": "API key with the `vd_sk_` prefix. Create keys from Settings, API Keys in the dashboard."
      },
      "SessionAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Session token (JWT) obtained by calling `POST /api/auth/login` with your email and password."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ],
            "description": "Error message. Usually a plain string; may be a structured object for some errors."
          }
        },
        "example": {
          "detail": "Invalid or expired API key"
        }
      },
      "SkillRunResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "partial",
              "failed"
            ],
            "description": "Outcome of the run."
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "description": "The rows the Skill returned."
          },
          "count": {
            "type": "integer",
            "description": "Number of rows in `data`."
          },
          "execution_time_ms": {
            "type": "integer",
            "description": "Total run time in milliseconds."
          },
          "error": {
            "type": "string",
            "nullable": true,
            "description": "Why the run failed, otherwise null."
          },
          "credits_charged": {
            "type": "integer",
            "description": "Credits this run cost."
          },
          "cost_usd": {
            "type": "number",
            "description": "The same cost in US dollars."
          },
          "cost_final": {
            "type": "boolean",
            "description": "False while the run's cloud browser time is still being billed (the browser is billed when it closes, which can be after the run answers). `credits_charged` is then only what has been billed so far. True once nothing more will be charged."
          },
          "cost_estimate_credits": {
            "type": "integer",
            "description": "`credits_charged` plus an estimate of the browser time still being billed, at the current browser rate. Equal to `credits_charged` once `cost_final` is true."
          },
          "drifted_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Fields that look wrong on this run, with the reason."
          },
          "unverified_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Fields not yet proven to be read correctly, with the reason."
          },
          "rejected_values": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "description": "Values removed because they did not appear on the page: `{field, value, reason}`."
          },
          "truncated_sections": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "description": "Sections that had more data than this run collected: `{section, clicks}`."
          },
          "scrape_mode_used": {
            "type": "string",
            "nullable": true,
            "description": "`flash` or `deep` for skills that support scrape modes, else null."
          },
          "triage_kind": {
            "type": "string",
            "nullable": true,
            "enum": [
              "ok",
              "site_down",
              "blocked",
              "logged_out",
              "page_not_loaded",
              "element_changed",
              "extraction_drift",
              "unknown",
              null
            ],
            "description": "Why the run failed, or `ok`."
          },
          "recipe_version": {
            "type": "integer",
            "nullable": true,
            "description": "The recipe version this run replayed."
          },
          "heal_kind": {
            "type": "string",
            "nullable": true,
            "enum": [
              "fp",
              "ai",
              null
            ],
            "description": "The repair that became the recipe during this run, if any."
          },
          "tier_used": {
            "type": "string",
            "nullable": true,
            "enum": [
              "fetch_direct",
              "fetch_browser",
              "replay",
              null
            ],
            "description": "Which route answered."
          },
          "tier_timings": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "description": "Every route tried: `{tier, ok, seconds, reason}`."
          },
          "diagnosis": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Diagnosis"
              }
            ],
            "nullable": true,
            "description": "Present when the run failed or a field came back on fewer than half the rows."
          }
        }
      },
      "SkillSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier (`skl_...`)."
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SkillDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SkillSummary"
          },
          {
            "type": "object",
            "properties": {
              "parameters": {
                "type": "array",
                "description": "Parameter definitions accepted by the Skill.",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "string",
                        "number",
                        "boolean",
                        "array"
                      ]
                    },
                    "required": {
                      "type": "boolean"
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                }
              },
              "output_schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON Schema that defines the structure of the `data` array returned by every run."
              }
            }
          }
        ]
      },
      "Workflow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ]
          },
          "steps": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "description": "Workflow step definitions in order. Each step includes its type (`agent`, `code`, `http`, `transform`, `dfuse`, `skill`), name, and configuration."
          },
          "total_runs": {
            "type": "integer"
          },
          "last_run_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "creator_name": {
            "type": "string",
            "nullable": true
          },
          "target_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "StepResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "step_id": {
            "type": "string"
          },
          "step_name": {
            "type": "string"
          },
          "step_type": {
            "type": "string",
            "enum": [
              "agent",
              "code",
              "http",
              "transform",
              "dfuse",
              "skill"
            ]
          },
          "sequence_order": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed"
            ]
          },
          "inputs": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "output": {
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "execution_time_ms": {
            "type": "integer",
            "nullable": true
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "WorkflowRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "workflow_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed",
              "waiting_for_human"
            ]
          },
          "inputs": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "outputs": {
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "credits_charged": {
            "type": "number",
            "format": "float"
          },
          "execution_time_ms": {
            "type": "integer",
            "nullable": true
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "step_results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StepResult"
            }
          }
        }
      },
      "CreateSkillRequest": {
        "type": "object",
        "required": [
          "task",
          "start_url"
        ],
        "properties": {
          "task": {
            "type": "string",
            "minLength": 3,
            "maxLength": 2000,
            "description": "What the skill does, in plain words.",
            "example": "Search for dentists in Austin and list them"
          },
          "start_url": {
            "type": "string",
            "maxLength": 2000,
            "description": "The http(s) page the skill starts on.",
            "example": "https://www.google.com/maps"
          },
          "name": {
            "type": "string",
            "maxLength": 100,
            "description": "Skill name. Derived from the task when omitted."
          },
          "inputs": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "maxProperties": 5,
            "description": "Up to 5 inputs, each mapped to the example value the recording uses. Each value must appear in what the browser types or opens. Inferred when omitted.",
            "example": {
              "city": "Austin"
            }
          },
          "output_fields": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Up to 25 columns, as `{name: description}` or a list of names. Inferred when omitted.",
            "example": {
              "name": "business name",
              "rating": "star rating",
              "phone": "phone number"
            }
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ],
            "default": "private"
          }
        }
      },
      "SkillCreationStatus": {
        "type": "object",
        "properties": {
          "creation_id": {
            "type": "string",
            "example": "sc_3f9a1c2b7d4e5f60"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "recording",
              "validating",
              "ready",
              "failed"
            ]
          },
          "status_url": {
            "type": "string",
            "example": "/v1/skill-creations/sc_3f9a1c2b7d4e5f60"
          },
          "skill_id": {
            "type": "string",
            "nullable": true,
            "description": "Set once the recording is saved."
          },
          "slug": {
            "type": "string",
            "nullable": true,
            "description": "Set once the recording is saved."
          },
          "skill_url": {
            "type": "string",
            "nullable": true,
            "description": "`/v1/skills/{slug}` once saved."
          },
          "run_url": {
            "type": "string",
            "nullable": true,
            "description": "`/v1/skills/{slug}/run` once ready."
          },
          "error": {
            "type": "string",
            "nullable": true,
            "description": "Why it failed."
          },
          "inputs": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            }
          },
          "output_fields": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            }
          },
          "credits_charged": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "idempotent_replay": {
            "type": "boolean",
            "description": "True when an Idempotency-Key matched an existing creation."
          },
          "diagnosis": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Diagnosis"
              }
            ],
            "nullable": true,
            "description": "On failure: what was tried and example hints."
          }
        }
      },
      "SkillReliability": {
        "type": "object",
        "properties": {
          "success_rate": {
            "type": "number",
            "description": "Lifetime success rate, percent."
          },
          "health_status": {
            "type": "string",
            "description": "`healthy`, `degraded`, `failing`, or `unknown`."
          },
          "total_runs": {
            "type": "integer"
          },
          "last_run_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "success_rate_20": {
            "type": "number",
            "nullable": true,
            "description": "Percent of the last 20 finished runs that worked."
          },
          "heals_20": {
            "type": "integer",
            "description": "How many of the last 20 runs needed a repair."
          },
          "last_success_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "last_failure_kind": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SkillContract": {
        "type": "object",
        "description": "The Skill's public details plus its typed contract. Other public fields (description, parameters, output_schema, category, tags, ratings, and so on) are also returned.",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ]
          },
          "status": {
            "type": "string"
          },
          "api_endpoint": {
            "type": "string",
            "example": "/v1/skills/austin-dentists/run"
          },
          "input_schema": {
            "type": "object",
            "additionalProperties": true,
            "description": "JSON Schema (draft 2020-12) for the inputs. Unknown keys are refused."
          },
          "output_json_schema": {
            "type": "object",
            "additionalProperties": true,
            "description": "JSON Schema for the run result, including each row."
          },
          "reliability": {
            "$ref": "#/components/schemas/SkillReliability"
          },
          "runs_endpoint": {
            "type": "string",
            "example": "/v1/skills/austin-dentists/runs"
          },
          "recipe_version": {
            "type": "integer",
            "nullable": true,
            "description": "The live recipe version."
          },
          "pinned_recipe_version": {
            "type": "integer",
            "nullable": true,
            "description": "The pinned version, or null."
          },
          "versions_endpoint": {
            "type": "string",
            "example": "/v1/skills/austin-dentists/versions"
          },
          "fast_path": {
            "type": "string",
            "nullable": true,
            "description": "For example `fast path: direct HTTP, ~0.3s`. Null when the skill always uses the browser."
          },
          "tiers": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": true
            },
            "description": "Per route: attempts, ok, success_rate, typical_seconds, status."
          }
        }
      },
      "TierHealth": {
        "type": "object",
        "properties": {
          "attempts": {
            "type": "integer"
          },
          "ok": {
            "type": "integer"
          },
          "success_rate": {
            "type": "number",
            "nullable": true
          },
          "median_seconds": {
            "type": "number",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "healthy",
              "broken"
            ]
          }
        }
      },
      "SkillHealth": {
        "type": "object",
        "properties": {
          "skill_id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "success_rate_20": {
            "type": "number",
            "nullable": true
          },
          "heals_20": {
            "type": "integer"
          },
          "last_success_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "last_failure_kind": {
            "type": "string",
            "nullable": true
          },
          "recipe_version": {
            "type": "integer",
            "nullable": true
          },
          "fast_path": {
            "type": "object",
            "nullable": true,
            "properties": {
              "tier": {
                "type": "string",
                "enum": [
                  "fetch_direct",
                  "fetch_browser"
                ]
              },
              "status": {
                "type": "string"
              },
              "median_seconds": {
                "type": "number",
                "nullable": true
              },
              "description": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "tiers": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/TierHealth"
            }
          }
        }
      },
      "StartRunRequest": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "object",
            "additionalProperties": true,
            "description": "The Skill's inputs (see `input_schema`).",
            "example": {
              "city": "Houston"
            }
          },
          "parameters": {
            "type": "object",
            "additionalProperties": true,
            "description": "Accepted as another name for `inputs`."
          },
          "max_results": {
            "type": "integer",
            "minimum": 0,
            "maximum": 500,
            "description": "Max rows; 0 returns the whole list."
          },
          "max_pages": {
            "type": "integer",
            "minimum": 0,
            "description": "Page limit; 0 means all pages."
          },
          "browser_type": {
            "type": "string",
            "description": "`remote`, `extension`, `local_profile`, or `none`. Omit for the Skill's saved setting."
          },
          "proxy_config": {
            "type": "string",
            "description": "Region for this run (country code, `random`, or `none`)."
          },
          "profile_id": {
            "type": "string",
            "description": "Browser profile to use for this run."
          },
          "scrape_mode": {
            "type": "string",
            "description": "`deep` or `flash`, for Skills that support it."
          },
          "webhook_url": {
            "type": "string",
            "description": "Public http(s) URL that receives the finished run as a signed POST."
          },
          "version": {
            "type": "integer",
            "minimum": 1,
            "description": "Recipe version to replay. Omit for the pinned or live one."
          }
        }
      },
      "StartRunResponse": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string",
            "example": "run_8c1d2e3f4a5b"
          },
          "status": {
            "type": "string",
            "example": "queued"
          },
          "poll_url": {
            "type": "string",
            "example": "/v1/runs/run_8c1d2e3f4a5b"
          },
          "idempotent_replay": {
            "type": "boolean"
          }
        }
      },
      "SkillRunStatus": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "success",
              "partial",
              "failed",
              "cancelled"
            ]
          },
          "skill_id": {
            "type": "string",
            "nullable": true
          },
          "skill_slug": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "execution_time_ms": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "description": "The rows, once the run has finished."
          },
          "credits_charged": {
            "type": "integer",
            "description": "Credits this run cost."
          },
          "cost_usd": {
            "type": "number",
            "description": "The same cost in US dollars."
          },
          "cost_final": {
            "type": "boolean",
            "description": "False while the run's cloud browser time is still being billed (the browser is billed when it closes, which can be after the run answers). `credits_charged` is then only what has been billed so far. True once nothing more will be charged."
          },
          "cost_estimate_credits": {
            "type": "integer",
            "description": "`credits_charged` plus an estimate of the browser time still being billed, at the current browser rate. Equal to `credits_charged` once `cost_final` is true."
          },
          "drifted_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Fields that look wrong on this run, with the reason."
          },
          "unverified_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Fields not yet proven to be read correctly, with the reason."
          },
          "rejected_values": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "description": "Values removed because they did not appear on the page: `{field, value, reason}`."
          },
          "truncated_sections": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "description": "Sections that had more data than this run collected: `{section, clicks}`."
          },
          "scrape_mode_used": {
            "type": "string",
            "nullable": true,
            "description": "`flash` or `deep` for skills that support scrape modes, else null."
          },
          "triage_kind": {
            "type": "string",
            "nullable": true,
            "enum": [
              "ok",
              "site_down",
              "blocked",
              "logged_out",
              "page_not_loaded",
              "element_changed",
              "extraction_drift",
              "unknown",
              null
            ],
            "description": "Why the run failed, or `ok`."
          },
          "recipe_version": {
            "type": "integer",
            "nullable": true,
            "description": "The recipe version this run replayed."
          },
          "heal_kind": {
            "type": "string",
            "nullable": true,
            "enum": [
              "fp",
              "ai",
              null
            ],
            "description": "The repair that became the recipe during this run, if any."
          },
          "tier_used": {
            "type": "string",
            "nullable": true,
            "enum": [
              "fetch_direct",
              "fetch_browser",
              "replay",
              null
            ],
            "description": "Which route answered."
          },
          "tier_timings": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "description": "Every route tried: `{tier, ok, seconds, reason}`."
          },
          "diagnosis": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Diagnosis"
              }
            ],
            "nullable": true,
            "description": "Present when the run failed or a field came back on fewer than half the rows."
          }
        }
      },
      "WebhookSecret": {
        "type": "object",
        "properties": {
          "secret": {
            "type": "string",
            "description": "Your signing secret. Keep it private."
          },
          "signature_header": {
            "type": "string",
            "example": "X-Valendata-Signature"
          },
          "algorithm": {
            "type": "string",
            "example": "HMAC-SHA256 over '<timestamp>.<raw body>'"
          }
        }
      },
      "RecipeVersion": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "live",
              "candidate",
              "rejected"
            ]
          },
          "reason": {
            "type": "string",
            "enum": [
              "initial",
              "heal_fp",
              "heal_ai",
              "route",
              "learn",
              "edit",
              "restore",
              "promote",
              "fetch"
            ]
          },
          "run_id": {
            "type": "string",
            "nullable": true
          },
          "actor": {
            "type": "string",
            "nullable": true
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "nullable": true
          },
          "is_live": {
            "type": "boolean"
          },
          "is_pinned": {
            "type": "boolean"
          },
          "steps": {
            "type": "integer",
            "description": "Number of recorded browser steps."
          }
        }
      },
      "VersionList": {
        "type": "object",
        "properties": {
          "skill_slug": {
            "type": "string"
          },
          "recipe_version": {
            "type": "integer",
            "nullable": true
          },
          "pinned_recipe_version": {
            "type": "integer",
            "nullable": true
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipeVersion"
            }
          }
        }
      },
      "VersionDiff": {
        "type": "object",
        "properties": {
          "skill_slug": {
            "type": "string"
          },
          "from": {
            "type": "integer"
          },
          "to": {
            "type": "integer"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "before": {},
                "after": {}
              }
            },
            "description": "Recipe settings that changed."
          },
          "actions": {
            "type": "object",
            "properties": {
              "changed": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "added": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "removed": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            },
            "description": "Recorded steps that changed, were added, or were removed."
          },
          "summary": {
            "type": "string",
            "example": "1 step(s) changed"
          }
        }
      },
      "RestoreResult": {
        "type": "object",
        "properties": {
          "skill_slug": {
            "type": "string"
          },
          "restored_from": {
            "type": "integer"
          },
          "recipe_version": {
            "type": "integer",
            "nullable": true,
            "description": "The new live version."
          },
          "changed": {
            "type": "boolean",
            "description": "False when the restored recipe was already live."
          }
        }
      },
      "PinResult": {
        "type": "object",
        "properties": {
          "skill_slug": {
            "type": "string"
          },
          "pinned_recipe_version": {
            "type": "integer",
            "nullable": true
          },
          "recipe_version": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "FieldDiagnosis": {
        "type": "object",
        "properties": {
          "filled": {
            "type": "string",
            "example": "0/5",
            "description": "Rows that had the field."
          },
          "filled_count": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "where_tried": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "the result cards",
              "each row's details page"
            ]
          },
          "evidence": {
            "type": "string",
            "example": "blank on all 5 rows"
          }
        }
      },
      "Diagnosis": {
        "type": "object",
        "description": "Why a run, validation or creation came back short, and hints that could fix it with `POST /v1/skills/{slug}/improve`.",
        "properties": {
          "rows": {
            "type": "integer"
          },
          "missing_fields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Fields fewer than half the rows came back with."
          },
          "per_field": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FieldDiagnosis"
            }
          },
          "triage_kind": {
            "type": "string",
            "nullable": true,
            "example": "missing_fields"
          },
          "what_we_tried": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "suggested_hint_examples": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "example": "phone: found on 0/5 rows — tried the result cards"
          }
        }
      },
      "ImproveSkillRequest": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "fix",
              "add_fields",
              "relearn_details"
            ],
            "default": "fix",
            "example": "fix",
            "description": "What to do. `fix`: relearn the Skill from a hint about where the data is. `add_fields`: capture new fields described in `feedback`. `relearn_details`: rebuild the steps that open each result, for when the site changed or detail fields come back empty."
          },
          "feedback": {
            "type": "string",
            "minLength": 3,
            "maxLength": 2000,
            "example": "The phone is on the details page — click the place name, the panel opens, the number is next to the phone icon.",
            "description": "Plain English, 3–2,000 characters. Required for `fix` (what is wrong and where the data really is) and `add_fields` (the new fields to capture, for example \"also capture the star rating and review count\"). Optional for `relearn_details`, as a note. A request without it in `fix` or `add_fields` mode gets `422`."
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "example": [
              "phone"
            ],
            "description": "Up to 10 field names. For `fix`: the output fields the hint is about; omit to use the last run's missing fields, or the fields the hint names. For `add_fields`: the names of the new fields; omit to let Valendata name them from `feedback`. Ignored for `relearn_details`.",
            "maxItems": 10
          },
          "example_input": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Inputs for the check run. Omit to use the recorded example."
          }
        }
      },
      "SkillImprovementStatus": {
        "type": "object",
        "properties": {
          "improvement_id": {
            "type": "string",
            "example": "imp_3f9a1c2b7d4e5f60"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "working",
              "validating",
              "done",
              "failed"
            ]
          },
          "status_url": {
            "type": "string",
            "example": "/v1/skill-improvements/imp_3f9a1c2b7d4e5f60"
          },
          "skill_id": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "mode": {
            "type": "string",
            "enum": [
              "fix",
              "add_fields",
              "relearn_details"
            ],
            "description": "The mode it ran in."
          },
          "source": {
            "type": "string",
            "enum": [
              "api",
              "mcp",
              "assistant",
              "web",
              "brain",
              "imported"
            ],
            "description": "Where it was started: `api`, `mcp`, `assistant` (Igris), `web` (the web app), `brain` (the workflow Brain chat), or `imported` (a past Refine or Re-learn from before improvements were unified)."
          },
          "started_by_name": {
            "type": "string",
            "nullable": true,
            "description": "The name of the person who started it."
          },
          "feedback": {
            "type": "string",
            "nullable": true
          },
          "strategy": {
            "type": "string",
            "nullable": true,
            "enum": [
              "fields",
              "rerecord"
            ],
            "description": "`fields`: relearn where the fields live. `rerecord`: redo the steps."
          },
          "target_fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "diagnosis": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Diagnosis"
              }
            ],
            "nullable": true,
            "description": "The diagnosis it started from."
          },
          "diagnosis_after": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Diagnosis"
              }
            ],
            "nullable": true,
            "description": "The check run's diagnosis, when fields are still missing."
          },
          "fields_before": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "filled": {
                  "type": "integer"
                },
                "total": {
                  "type": "integer"
                },
                "rate": {
                  "type": "number"
                }
              }
            }
          },
          "fields_after": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "filled": {
                  "type": "integer"
                },
                "total": {
                  "type": "integer"
                },
                "rate": {
                  "type": "number"
                }
              }
            }
          },
          "changes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "before": {
                  "type": "string",
                  "example": "0/5"
                },
                "after": {
                  "type": "string",
                  "example": "5/5"
                },
                "improved": {
                  "type": "boolean"
                }
              }
            }
          },
          "improved": {
            "type": "boolean",
            "nullable": true,
            "description": "True: the new version is live. False: kept as a candidate, the old recipe restored."
          },
          "result": {
            "type": "string",
            "enum": [
              "running",
              "improved",
              "kept_old",
              "no_change",
              "failed",
              "applied"
            ],
            "description": "Short verdict. `running`: not finished. `improved`: the new version is live. `kept_old`: not better, so the old version stayed live. `no_change`: nothing needed changing. `failed`: see `error`. `applied`: imported from the old Refine history, applied without a check run."
          },
          "imported": {
            "type": "boolean",
            "description": "True for a past Refine or Re-learn entry imported into this history."
          },
          "details": {
            "type": "object",
            "nullable": true,
            "description": "What the engine decided.",
            "properties": {
              "new_fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Fields added (`add_fields`)."
              },
              "merged": {
                "type": "array",
                "description": "Requested fields that were re-worded duplicates of existing ones, merged into them.",
                "items": {
                  "type": "object",
                  "properties": {
                    "proposed": {
                      "type": "string"
                    },
                    "into": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string"
                    }
                  }
                }
              },
              "ambiguous": {
                "type": "array",
                "description": "Requested fields that were unclear and were not learned. Answer `question` and send a new request.",
                "items": {
                  "type": "object",
                  "properties": {
                    "proposed": {
                      "type": "string"
                    },
                    "candidates": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "question": {
                      "type": "string"
                    }
                  }
                }
              },
              "diff_summary": {
                "type": "string",
                "nullable": true,
                "description": "One line on what changed in the recipe."
              },
              "engine_note": {
                "type": "string",
                "nullable": true,
                "description": "Any extra note from the engine."
              }
            }
          },
          "recipe_version_before": {
            "type": "integer",
            "nullable": true
          },
          "recipe_version": {
            "type": "integer",
            "nullable": true,
            "description": "The live version when it ended."
          },
          "candidate_version": {
            "type": "integer",
            "nullable": true,
            "description": "The version kept but not made live."
          },
          "outcome": {
            "type": "string",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "credits_charged": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "finished_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "idempotent_replay": {
            "type": "boolean"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request. The request body is malformed, missing required fields, or invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized. The Authorization header is missing, malformed, or the credential is invalid or expired.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found in your Workspace.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests for this API key, too many runs in progress, or too many recordings in progress. Check the `Retry-After` header when present.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error on Valendata's side.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden. You may not run or change this Skill, or it is not published or active.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Not enough credits to start. `detail` includes `current_balance` and `required`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unprocessable": {
        "description": "Invalid request. For bad inputs, `detail` is `{message, errors, allowed_inputs}`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
