{
  "openapi": "3.1.0",
  "info": {
    "title": "Valendata REST API",
    "version": "1.0.0",
    "description": "Create, run, schedule, and improve skills and workflows over JSON and HTTPS. Every route is under `/v1`; changes inside v1 are additive only (new routes, new optional parameters, new response fields). A route that will go away is marked `deprecated` here and answers with `Deprecation`, `Sunset` and a `Link` to its replacement for at least six months before it is removed. Errors, limits, pagination and idempotency: https://docs.valendata.com/api-reference/errors.",
    "license": {
      "name": "Proprietary",
      "url": "https://www.valendata.com/terms-and-conditions"
    }
  },
  "servers": [
    {
      "url": "https://api.valendata.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "ApiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Skills",
      "description": "List, create, read, update, and delete skills."
    },
    {
      "name": "Marketplace",
      "description": "Find a skill by the task, with its price per run and track record."
    },
    {
      "name": "Runs",
      "description": "Run skills and workflows, read any run, and cancel one."
    },
    {
      "name": "Skill versions",
      "description": "List, compare, restore, and pin a skill's versions."
    },
    {
      "name": "Improvements",
      "description": "Fix a skill, add fields, or re-learn its detail steps, and read its change history."
    },
    {
      "name": "Schedules",
      "description": "Run a skill or workflow on a fixed cadence."
    },
    {
      "name": "Workflows",
      "description": "List, create, read, update, and delete workflows."
    },
    {
      "name": "Logins",
      "description": "Saved website logins a skill can sign in with."
    },
    {
      "name": "Connected apps",
      "description": "Your own accounts (Gmail, Calendar, Slack …): connect them, list their tools, and run one."
    },
    {
      "name": "Follow-ups",
      "description": "Wait for something to arrive (a code, a link, a file, a message) or check back later, and read what came."
    },
    {
      "name": "Jobs",
      "description": "What your agents started to run in the background (skill runs, workflow runs, research), what came back, and stopping it."
    },
    {
      "name": "Notes",
      "description": "The notes on your Notes page: list and search them, read one, write, change, and delete them."
    },
    {
      "name": "Account and usage",
      "description": "Your plan, credit balance, and usage."
    },
    {
      "name": "Webhooks",
      "description": "The secret that signs webhook deliveries."
    }
  ],
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Account and usage"
        ],
        "summary": "Get your account",
        "description": "Your credit balance (exact, as a decimal string), plan and monthly allowance, the low-credit flag, auto-recharge, and your workspaces. Needs `account:read`.",
        "operationId": "get_account",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Your account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/apps": {
      "get": {
        "tags": [
          "Connected apps"
        ],
        "summary": "List apps",
        "description": "Apps you can connect (Gmail, Google Calendar, Slack, Notion, HubSpot and hundreds more), each with `connected` (you have) and `connectable` (its sign-in works on Valendata today). Search with `q`; page with `limit` (1–50, default 25) and `cursor`. Needs `apps:read`.",
        "operationId": "list_apps",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 80
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search app names and descriptions.",
              "title": "Q"
            },
            "description": "Search app names and descriptions.",
            "example": "calendar"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "description": "Items per page, 1–50.",
              "default": 25,
              "title": "Limit"
            },
            "description": "Items per page, 1–50."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "next_cursor of the previous page.",
              "title": "Cursor"
            },
            "description": "next_cursor of the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of apps.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppList"
                },
                "example": {
                  "apps": [
                    {
                      "slug": "googlecalendar",
                      "name": "Google Calendar",
                      "description": "Google Calendar is a time management and scheduling service.",
                      "logo": "https://logos.composio.dev/api/googlecalendar",
                      "categories": [
                        "productivity"
                      ],
                      "connectable": true,
                      "connected": true
                    },
                    {
                      "slug": "calendly",
                      "name": "Calendly",
                      "description": "Calendly is an appointment scheduling tool.",
                      "logo": "https://logos.composio.dev/api/calendly",
                      "categories": [
                        "scheduling"
                      ],
                      "connectable": true,
                      "connected": false
                    }
                  ],
                  "next_cursor": null,
                  "has_more": false
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/apps/connected": {
      "get": {
        "tags": [
          "Connected apps"
        ],
        "summary": "List connected apps",
        "description": "The apps you connected, each with `status`: `active` (it works) or `expired` (its sign-in lapsed; connect it again with the `connect_url` from `GET /v1/apps/{app}`). Needs `apps:read`.",
        "operationId": "list_connected_apps",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page, 1–100.",
              "default": 100,
              "title": "Limit"
            },
            "description": "Items per page, 1–100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "next_cursor of the previous page.",
              "title": "Cursor"
            },
            "description": "next_cursor of the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "The apps you connected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectedAppList"
                },
                "example": {
                  "apps": [
                    {
                      "slug": "gmail",
                      "name": "Gmail",
                      "logo": "https://logos.composio.dev/api/gmail",
                      "status": "active"
                    },
                    {
                      "slug": "slack",
                      "name": "Slack",
                      "logo": "https://logos.composio.dev/api/slack",
                      "status": "expired"
                    }
                  ],
                  "next_cursor": null,
                  "has_more": false
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/apps/{app}": {
      "get": {
        "tags": [
          "Connected apps"
        ],
        "summary": "Get an app",
        "description": "One app, by id (`gmail`) or name (`Google Calendar`): whether you connected it, whether it can be connected, and `connect_url`, the page that connects it. Open it signed in to Valendata, then sign in to the app. The link does not expire, so you can send it to yourself. Needs `apps:read`.",
        "operationId": "get_app",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "App"
            },
            "example": "gmail"
          }
        ],
        "responses": {
          "200": {
            "description": "The app and the link that connects it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppDetail"
                },
                "example": {
                  "slug": "gmail",
                  "name": "Gmail",
                  "logo": "https://logos.composio.dev/api/gmail",
                  "connectable": true,
                  "connected": false,
                  "connect_url": "https://app.valendata.com/connect/gmail"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/apps/{app}/connection": {
      "delete": {
        "tags": [
          "Connected apps"
        ],
        "summary": "Disconnect an app",
        "description": "Remove your connection to the app. Its sign-in is deleted, and its tools stop working (for you, your workflows and your assistants) until you connect it again. `disconnected` is `false` when it was not connected. Needs `apps:write`.",
        "operationId": "disconnect_app",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "App"
            },
            "example": "gmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Disconnected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisconnectedApp"
                },
                "example": {
                  "slug": "gmail",
                  "disconnected": true
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/apps/{app}/tools": {
      "get": {
        "tags": [
          "Connected apps"
        ],
        "summary": "List an app's tools",
        "description": "The app's tools, most used first, each with its `inputs` and `kind`: `read` (only reads) or `write` (sends, creates, changes, or deletes something). Page with `limit` and `cursor`. With `q`, a task in plain words, you get only the few tools that do it, best first, plus a `plan` and `pitfalls`, with no paging. Needs `apps:read`.",
        "operationId": "list_app_tools",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "App"
            },
            "example": "gmail"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 300
                },
                {
                  "type": "null"
                }
              ],
              "description": "A task in plain words: only the tools that do it, best first, with a plan (no paging).",
              "title": "Q"
            },
            "description": "A task in plain words: only the tools that do it, best first, with a plan (no paging).",
            "example": "unread emails from my boss"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page, 1–100.",
              "default": 100,
              "title": "Limit"
            },
            "description": "Items per page, 1–100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "next_cursor of the previous page.",
              "title": "Cursor"
            },
            "description": "next_cursor of the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "The app's tools.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppToolList"
                },
                "example": {
                  "tools": [
                    {
                      "slug": "GMAIL_FETCH_EMAILS",
                      "name": "Fetch emails",
                      "description": "Fetches emails from the mailbox, filtered by a Gmail search query.",
                      "app": "gmail",
                      "kind": "read",
                      "inputs": [
                        {
                          "name": "query",
                          "type": "string",
                          "description": "Gmail search query, e.g. is:unread from:boss@example.com.",
                          "required": false
                        },
                        {
                          "name": "max_results",
                          "type": "integer",
                          "description": "Most emails to return.",
                          "required": false
                        }
                      ]
                    }
                  ],
                  "plan": [
                    "Fetch with query 'is:unread from:<boss address>'."
                  ],
                  "pitfalls": [
                    "Without a query, the newest emails of every sender come back."
                  ],
                  "next_cursor": null,
                  "has_more": false
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/apps/{app}/tools/{tool}/run": {
      "post": {
        "tags": [
          "Connected apps"
        ],
        "summary": "Run an app tool",
        "description": "Run one tool on your connected account with `inputs`, and get what the app answered in `data`. A `read` tool needs `apps:read`; a `write` tool needs `apps:write` and acts in your real account (an email is sent, an event is created), so send an `Idempotency-Key` to make a retry safe. `409` with code `app_not_connected` when you have not connected the app: `detail.connect_url` connects it. `502` when the app refused the call (`detail` says why).",
        "operationId": "run_app_tool",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "App"
            },
            "example": "gmail"
          },
          {
            "name": "tool",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool"
            },
            "example": "GMAIL_FETCH_EMAILS"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunAppToolRequest"
              },
              "example": {
                "inputs": {
                  "query": "is:unread",
                  "max_results": 2
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "What the app answered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppToolResult"
                },
                "example": {
                  "app": "gmail",
                  "tool": "GMAIL_FETCH_EMAILS",
                  "kind": "read",
                  "data": {
                    "messages": [
                      {
                        "messageId": "19a2f0c4e1b7d3a5",
                        "sender": "Ada <ada@example.com>",
                        "subject": "Q4 plan",
                        "messageTimestamp": "2026-10-08T09:12:00Z",
                        "preview": {
                          "body": "Here is the plan for Q4…"
                        }
                      }
                    ],
                    "nextPageToken": null
                  }
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/Idempotent-Replayed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-mcp-tool": "read_from_app, act_in_app"
      }
    },
    "/v1/followups": {
      "post": {
        "tags": [
          "Follow-ups"
        ],
        "summary": "Create a follow-up",
        "description": "Wait for something to arrive, or check back later. `where.kind` says where it will land: `inbox` (your Valendata address), `email_app` (a connected mail app, by its `address`), `app_tool` (a read tool of a connected app, run with `arguments` on each check), `webpage` (a page that will change, by `url`), `run` (a workflow run reaching its end, by `run_id`), or `time` (nothing to look in: a check-back when `within` is up). `match` says what counts as arrived: its `kind` (`code`, `link`, `file`, `message`, `any`) and the sender's domain, address, recipient, or words it must contain. Only things that arrive after now count. `within` (at most 72 hours) is how long to wait, `check_every` how often to look. Answers `201` with the follow-up as `waiting`; poll `GET /v1/followups/{followup_id}` for its outcome (nothing calls you back). Up to 25 waiting at once. Needs `followups:write`, plus `apps:read` for `email_app` and `app_tool` (each check reads the app and costs the app-call price). `409` with code `app_not_connected` when the app is not connected: `detail.connect_url` connects it.",
        "operationId": "create_followup",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFollowupRequest"
              },
              "example": {
                "what": "the sign-in code from greenhouse.io",
                "where": {
                  "kind": "inbox"
                },
                "match": {
                  "kind": "code",
                  "from_domain": "greenhouse.io"
                },
                "within": "15m"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The follow-up, waiting. Poll `GET /v1/followups/{followup_id}` for its outcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Followup"
                },
                "example": {
                  "id": "7f1c2e4a-9b3d-4c5e-8a6f-0d1e2f3a4b5c",
                  "agent": "api",
                  "conversation_id": "",
                  "what": "the sign-in code from greenhouse.io",
                  "where": {
                    "kind": "inbox",
                    "app": "",
                    "address": "ada.lovelace@mail.valendata.com",
                    "tool": "",
                    "url": "",
                    "run_id": ""
                  },
                  "match": {
                    "kind": "code",
                    "from_domain": "greenhouse.io",
                    "sender": "",
                    "recipient": "",
                    "subject_has": "",
                    "text_has": ""
                  },
                  "status": "waiting",
                  "outcome": null,
                  "found": null,
                  "note": null,
                  "since": "2026-10-10T09:00:00Z",
                  "next_check_at": "2026-10-10T09:00:30Z",
                  "deadline": "2026-10-10T09:15:00Z",
                  "checks": 0,
                  "created_at": "2026-10-10T09:00:00Z",
                  "ended_at": null
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/Idempotent-Replayed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "get": {
        "tags": [
          "Follow-ups"
        ],
        "summary": "List follow-ups",
        "description": "Your follow-ups, newest first: the waiting ones, or every one with `active=false`. `kind` keeps one kind of place (`inbox`, `email_app`, `app_tool`, `webpage`, `run`, `time`); `agent` keeps one kind of waiter (`api` for follow-ups made here, `igris`, `session` or `brain` for ones your in-app agents made). Page with `limit` (1–100) and `cursor`. Needs `followups:read`.",
        "operationId": "list_followups",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only follow-ups still waiting (default). `false`: every one.",
              "default": true,
              "title": "Active"
            },
            "description": "Only follow-ups still waiting (default). `false`: every one.",
            "example": true
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "inbox",
                    "email_app",
                    "app_tool",
                    "webpage",
                    "run",
                    "time"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only follow-ups looking in this kind of place.",
              "title": "Kind"
            },
            "description": "Only follow-ups looking in this kind of place.",
            "example": "inbox"
          },
          {
            "name": "agent",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "igris",
                    "session",
                    "brain",
                    "api"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only follow-ups made by this kind of agent.",
              "title": "Agent"
            },
            "description": "Only follow-ups made by this kind of agent."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page, 1–100.",
              "default": 100,
              "title": "Limit"
            },
            "description": "Items per page, 1–100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "next_cursor of the previous page.",
              "title": "Cursor"
            },
            "description": "next_cursor of the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of your follow-ups.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FollowupList"
                },
                "example": {
                  "followups": [
                    {
                      "id": "7f1c2e4a-9b3d-4c5e-8a6f-0d1e2f3a4b5c",
                      "agent": "api",
                      "conversation_id": "",
                      "what": "the sign-in code from greenhouse.io",
                      "where": {
                        "kind": "inbox",
                        "app": "",
                        "address": "ada.lovelace@mail.valendata.com",
                        "tool": "",
                        "url": "",
                        "run_id": ""
                      },
                      "match": {
                        "kind": "code",
                        "from_domain": "greenhouse.io",
                        "sender": "",
                        "recipient": "",
                        "subject_has": "",
                        "text_has": ""
                      },
                      "status": "waiting",
                      "outcome": null,
                      "found": null,
                      "note": null,
                      "since": "2026-10-10T09:00:00Z",
                      "next_check_at": "2026-10-10T09:00:30Z",
                      "deadline": "2026-10-10T09:15:00Z",
                      "checks": 0,
                      "created_at": "2026-10-10T09:00:00Z",
                      "ended_at": null
                    }
                  ],
                  "next_cursor": null,
                  "has_more": false
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/followups/{followup_id}": {
      "get": {
        "tags": [
          "Follow-ups"
        ],
        "summary": "Get a follow-up",
        "description": "One follow-up: `status` (`waiting`, `done`, `cancelled`, `failed`), and once it ended, `outcome` (`found`, `time_up`, `expired`) with `found` holding only the thing that arrived — the code, link, file or a short excerpt — never the rest of the mailbox. `note` is one plain line on how it ended. Only your own; anyone else gets 404. Needs `followups:read`.",
        "operationId": "get_followup",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "followup_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Followup Id"
            },
            "example": "7f1c2e4a-9b3d-4c5e-8a6f-0d1e2f3a4b5c"
          }
        ],
        "responses": {
          "200": {
            "description": "The follow-up: once it ended, its outcome and what was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Followup"
                },
                "example": {
                  "id": "7f1c2e4a-9b3d-4c5e-8a6f-0d1e2f3a4b5c",
                  "agent": "api",
                  "conversation_id": "",
                  "what": "the sign-in code from greenhouse.io",
                  "where": {
                    "kind": "inbox",
                    "app": "",
                    "address": "ada.lovelace@mail.valendata.com",
                    "tool": "",
                    "url": "",
                    "run_id": ""
                  },
                  "match": {
                    "kind": "code",
                    "from_domain": "greenhouse.io",
                    "sender": "",
                    "recipient": "",
                    "subject_has": "",
                    "text_has": ""
                  },
                  "status": "done",
                  "outcome": "found",
                  "found": {
                    "kind": "code",
                    "summary": "a 6-digit code from greenhouse.io",
                    "code": "482913",
                    "link": "",
                    "file_url": "",
                    "file_name": "",
                    "text": "",
                    "sender": "no-reply@greenhouse.io",
                    "subject": "Your Greenhouse verification code",
                    "received_at": "2026-10-10T09:01:12Z",
                    "ref": "msg_01HZX"
                  },
                  "note": "A 6-digit code from greenhouse.io arrived.",
                  "since": "2026-10-10T09:00:00Z",
                  "next_check_at": "2026-10-10T09:01:12Z",
                  "deadline": "2026-10-10T09:15:00Z",
                  "checks": 3,
                  "created_at": "2026-10-10T09:00:00Z",
                  "ended_at": "2026-10-10T09:01:12Z"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/followups/{followup_id}/cancel": {
      "post": {
        "tags": [
          "Follow-ups"
        ],
        "summary": "Cancel a follow-up",
        "description": "Call a waiting follow-up off: no more checks, and it ends as `cancelled`. One that already ended is left as it is (`cancelled: false`). Needs `followups:write`.",
        "operationId": "cancel_followup",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "followup_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Followup Id"
            },
            "example": "7f1c2e4a-9b3d-4c5e-8a6f-0d1e2f3a4b5c"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled, or left as it was because it had already ended.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FollowupCancelled"
                },
                "example": {
                  "id": "7f1c2e4a-9b3d-4c5e-8a6f-0d1e2f3a4b5c",
                  "status": "cancelled",
                  "cancelled": true
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/Idempotent-Replayed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/jobs": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Start background jobs",
        "description": "Start your skills and workflows to run in the background, each as a job with its own status. One item starts one job; two or more start a batch (`batch`) that ends when they all have. The answer comes at once (202) with the jobs; poll each with `GET /v1/jobs/{job_id}` (or the batch). An item that cannot start is listed in `refused` and the others still start; when none can, 422. Research helpers start from a chat, not the API. Needs `jobs:write`, plus `skills:invoke` / `workflows:invoke` for what you start.",
        "operationId": "start_jobs",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartJobs"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartedJobs"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/Idempotent-Replayed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List background jobs",
        "description": "Your background jobs, newest first: skill runs, workflow runs and research that your in-app agents (the assistant, a chat session) or you over the API started to run on their own. `open=true` keeps the ones still `queued` or `running`; `origin_kind` (`session`, `igris`, `brain`, `api`) and `origin_id` keep the ones one agent or chat started. Page with `limit` (1–100) and `cursor`. Needs `jobs:read`.",
        "operationId": "list_jobs",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "open",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only jobs still queued or running. Default: every one.",
              "default": false,
              "title": "Open"
            },
            "description": "Only jobs still queued or running. Default: every one.",
            "example": true
          },
          {
            "name": "origin_kind",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "igris",
                    "session",
                    "brain",
                    "api"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only jobs started by this kind of caller.",
              "title": "Origin Kind"
            },
            "description": "Only jobs started by this kind of caller.",
            "example": "session"
          },
          {
            "name": "origin_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only jobs started by this session or workflow.",
              "title": "Origin Id"
            },
            "description": "Only jobs started by this session or workflow."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page, 1–100.",
              "default": 100,
              "title": "Limit"
            },
            "description": "Items per page, 1–100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "next_cursor of the previous page.",
              "title": "Cursor"
            },
            "description": "next_cursor of the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of your background jobs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobList"
                },
                "example": {
                  "jobs": [
                    {
                      "id": "job_3f9a1c2b7d4e",
                      "origin_kind": "session",
                      "origin_id": "sess_8c1d2e3f",
                      "group_id": null,
                      "kind": "skill",
                      "label": "eBay search",
                      "target_id": "skl_ebay_listings",
                      "run_ref": "run_5b6c7d8e9f0a",
                      "status": "completed",
                      "summary": "12 results",
                      "result": {
                        "count": 12,
                        "preview": [
                          {
                            "title": "Nikon F3 body",
                            "price": "$289"
                          },
                          {
                            "title": "Nikon F3HP, boxed",
                            "price": "$340"
                          }
                        ]
                      },
                      "error": null,
                      "cancel_requested": false,
                      "attempts": 1,
                      "created_at": "2026-10-10T09:00:00Z",
                      "started_at": "2026-10-10T09:00:01Z",
                      "ended_at": "2026-10-10T09:02:40Z",
                      "link": "/skills/runs/run_5b6c7d8e9f0a"
                    }
                  ],
                  "next_cursor": null,
                  "has_more": false
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/jobs/{job_id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get a background job",
        "description": "One job: `status` (`queued`, `running`, `completed`, `failed`, `cancelled`), and once it ended, `summary` (one plain line), `result` (`count` and a `preview` of the first rows) and `error`. `run_ref` is the run it drives: `GET /v1/runs/{run_id}` has every row. Only your own; anyone else gets 404. Needs `jobs:read`.",
        "operationId": "get_job",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            },
            "example": "job_3f9a1c2b7d4e"
          }
        ],
        "responses": {
          "200": {
            "description": "The job: once it ended, its summary and result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                },
                "example": {
                  "id": "job_3f9a1c2b7d4e",
                  "origin_kind": "session",
                  "origin_id": "sess_8c1d2e3f",
                  "group_id": null,
                  "kind": "skill",
                  "label": "eBay search",
                  "target_id": "skl_ebay_listings",
                  "run_ref": "run_5b6c7d8e9f0a",
                  "status": "completed",
                  "summary": "12 results",
                  "result": {
                    "count": 12,
                    "preview": [
                      {
                        "title": "Nikon F3 body",
                        "price": "$289"
                      },
                      {
                        "title": "Nikon F3HP, boxed",
                        "price": "$340"
                      }
                    ]
                  },
                  "error": null,
                  "cancel_requested": false,
                  "attempts": 1,
                  "created_at": "2026-10-10T09:00:00Z",
                  "started_at": "2026-10-10T09:00:01Z",
                  "ended_at": "2026-10-10T09:02:40Z",
                  "link": "/skills/runs/run_5b6c7d8e9f0a"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/jobs/{job_id}/cancel": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Cancel a background job",
        "description": "Stop an open job and the run it drives; it ends as `cancelled` (rows the run already produced are kept). The answer is the job as it is now: `cancel_requested: true` while it stops. One that already ended is left as it is. Needs `jobs:write`.",
        "operationId": "cancel_job",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            },
            "example": "job_3f9a1c2b7d4e"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "The job as it is now: stopping, or left as it was because it had already ended.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                },
                "example": {
                  "id": "job_3f9a1c2b7d4e",
                  "origin_kind": "session",
                  "origin_id": "sess_8c1d2e3f",
                  "group_id": null,
                  "kind": "skill",
                  "label": "eBay search",
                  "target_id": "skl_ebay_listings",
                  "run_ref": "run_5b6c7d8e9f0a",
                  "status": "running",
                  "summary": null,
                  "result": null,
                  "error": null,
                  "cancel_requested": true,
                  "attempts": 1,
                  "created_at": "2026-10-10T09:00:00Z",
                  "started_at": "2026-10-10T09:00:01Z",
                  "ended_at": null,
                  "link": "/skills/runs/run_5b6c7d8e9f0a"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/Idempotent-Replayed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/logins": {
      "post": {
        "tags": [
          "Logins"
        ],
        "summary": "Create a login",
        "description": "Save a website login for your skills to sign in with. Stored encrypted in your Vault, never shared with your workspace, never returned. Needs a session or an API key with `logins:write`.",
        "operationId": "create_login",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Saved. The masked login.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginOut"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/Idempotent-Replayed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "get": {
        "tags": [
          "Logins"
        ],
        "summary": "List logins",
        "description": "Your saved logins, masked — never a password, seed or code. A login an agent registered itself (auto sign-up) says so, and whether its sign-up was confirmed. Needs `logins:use` or `logins:write`.",
        "operationId": "list_logins",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page, 1–100.",
              "default": 100,
              "title": "Limit"
            },
            "description": "Items per page, 1–100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "next_cursor of the previous page.",
              "title": "Cursor"
            },
            "description": "next_cursor of the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "Your logins.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginList"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/logins/{login_id}": {
      "get": {
        "tags": [
          "Logins"
        ],
        "summary": "Get a login",
        "operationId": "get_login",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "login_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Login Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The masked login.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginOut"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "One saved login, masked: the site, a hint of the username, its label and notes, whether it has an authenticator seed, and — for one an agent registered itself — whether its sign-up was confirmed. Needs `logins:use` or `logins:write`."
      },
      "patch": {
        "tags": [
          "Logins"
        ],
        "summary": "Update a login",
        "description": "Send a new password, username or authenticator seed. Nothing secret comes back.",
        "operationId": "update_login",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "login_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Login Id"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The masked login.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginOut"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/Idempotent-Replayed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "tags": [
          "Logins"
        ],
        "summary": "Delete a login",
        "description": "Deletes the login. Skills that signed in with it stop doing so.",
        "operationId": "delete_login",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "login_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Login Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/marketplace/search": {
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Find a skill for a task",
        "description": "Skills that do the task in `q`, best first, from the public marketplace and (with `skills:read`) your own and your workspaces' (`yours: true`). Each result has its inputs, `price` (the typical cost of its recent runs in credits and dollars, or its base price before any run), `health` (success rate over its last 20 runs) and the route to run it. Matching reads the meaning of `q`, not only its words. When nothing does the task, the closest skills come back with `match: \"near\"` and a `hint`. No key needed for the public marketplace.",
        "operationId": "search_skills",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 300,
              "description": "The task, in your words: 'find LinkedIn jobs in Toronto'",
              "title": "Q"
            },
            "description": "The task, in your words: 'find LinkedIn jobs in Toronto'",
            "example": "find software jobs in Toronto"
          },
          {
            "name": "site",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 200
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only skills for this website, e.g. linkedin.com",
              "title": "Site"
            },
            "description": "Only skills for this website, e.g. linkedin.com"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 100
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "description": "Most results to return, 1–50.",
              "default": 10,
              "title": "Limit"
            },
            "description": "Most results to return, 1–50.",
            "example": 10
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "skill",
                "workflow"
              ],
              "type": "string",
              "description": "Search skills or workflows",
              "default": "skill",
              "title": "Kind"
            },
            "description": "Search skills or workflows"
          }
        ],
        "responses": {
          "200": {
            "description": "Skills that do the task, best first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillSearchResponse"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-mcp-tool": "search_skills"
      }
    },
    "/v1/notes": {
      "get": {
        "tags": [
          "Notes"
        ],
        "summary": "List notes",
        "description": "Your notes: pinned first, then the most recently changed. With `q`, only the notes matching any of its words (in the title, body, tags or topic), best match first, at most the best 200. `topic`, `tag` and `pinned` keep only the notes that have them. Each note comes in full. Page with `limit` (1–100) and `cursor`. Needs `notes:read`. `503` until notes are switched on for your account.",
        "operationId": "list_notes",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200,
              "description": "Words to search for in the title, body, tags and topic. Matches come best first.",
              "default": "",
              "title": "Q"
            },
            "description": "Words to search for in the title, body, tags and topic. Matches come best first.",
            "example": "dinner"
          },
          {
            "name": "topic",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 64
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only notes with this topic.",
              "title": "Topic"
            },
            "description": "Only notes with this topic."
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 40
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only notes with this tag.",
              "title": "Tag"
            },
            "description": "Only notes with this tag."
          },
          {
            "name": "pinned",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only pinned notes (`true`) or unpinned ones (`false`).",
              "title": "Pinned"
            },
            "description": "Only pinned notes (`true`) or unpinned ones (`false`).",
            "example": true
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page, 1–100.",
              "default": 100,
              "title": "Limit"
            },
            "description": "Items per page, 1–100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "next_cursor of the previous page.",
              "title": "Cursor"
            },
            "description": "next_cursor of the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of your notes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteList"
                },
                "example": {
                  "notes": [
                    {
                      "id": "3b9e6f2a-1c4d-4e8f-9a7b-5d2c0e1f8a6b",
                      "title": "Dinner split 27 Sep",
                      "body": "| Who | Owes | Status |\n| --- | --- | --- |\n| Ada | 12,000 | paid |\n| Tobi | 12,000 | owes |",
                      "topic": "Money",
                      "tags": [
                        "dinner",
                        "split"
                      ],
                      "pinned": true,
                      "source": "api",
                      "created_at": "2026-10-10T09:00:00Z",
                      "updated_at": "2026-10-10T09:00:00Z",
                      "link": "/notes/3b9e6f2a-1c4d-4e8f-9a7b-5d2c0e1f8a6b"
                    }
                  ],
                  "next_cursor": null,
                  "has_more": false
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "tags": [
          "Notes"
        ],
        "summary": "Create a note",
        "description": "Write a new note on your Notes page: a `title`, a Markdown `body` (tables and checklists work), and optionally a `topic`, `tags` and `pinned`. Give a title or a body; without a title, the body's first line becomes it. Tags are kept lowercase, each once. The note is marked `source: api`. Answers `201` with the note. Needs `notes:write`.",
        "operationId": "create_note",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteRequest"
              },
              "example": {
                "title": "Dinner split 27 Sep",
                "body": "| Who | Owes | Status |\n| --- | --- | --- |\n| Ada | 12,000 | paid |\n| Tobi | 12,000 | owes |",
                "topic": "Money",
                "tags": [
                  "dinner",
                  "split"
                ],
                "pinned": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The note, saved on your Notes page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                },
                "example": {
                  "id": "3b9e6f2a-1c4d-4e8f-9a7b-5d2c0e1f8a6b",
                  "title": "Dinner split 27 Sep",
                  "body": "| Who | Owes | Status |\n| --- | --- | --- |\n| Ada | 12,000 | paid |\n| Tobi | 12,000 | owes |",
                  "topic": "Money",
                  "tags": [
                    "dinner",
                    "split"
                  ],
                  "pinned": true,
                  "source": "api",
                  "created_at": "2026-10-10T09:00:00Z",
                  "updated_at": "2026-10-10T09:00:00Z",
                  "link": "/notes/3b9e6f2a-1c4d-4e8f-9a7b-5d2c0e1f8a6b"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/Idempotent-Replayed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/notes/{note_id}": {
      "get": {
        "tags": [
          "Notes"
        ],
        "summary": "Get a note",
        "description": "One note in full: its title, Markdown body, topic, tags, whether it is pinned, who wrote it first (`source`), when, and `link`, its page in the app. Only your own; anyone else gets 404. Needs `notes:read`.",
        "operationId": "get_note",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Note Id"
            },
            "example": "3b9e6f2a-1c4d-4e8f-9a7b-5d2c0e1f8a6b"
          }
        ],
        "responses": {
          "200": {
            "description": "The note, in full.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                },
                "example": {
                  "id": "3b9e6f2a-1c4d-4e8f-9a7b-5d2c0e1f8a6b",
                  "title": "Dinner split 27 Sep",
                  "body": "| Who | Owes | Status |\n| --- | --- | --- |\n| Ada | 12,000 | paid |\n| Tobi | 12,000 | owes |",
                  "topic": "Money",
                  "tags": [
                    "dinner",
                    "split"
                  ],
                  "pinned": true,
                  "source": "api",
                  "created_at": "2026-10-10T09:00:00Z",
                  "updated_at": "2026-10-10T09:00:00Z",
                  "link": "/notes/3b9e6f2a-1c4d-4e8f-9a7b-5d2c0e1f8a6b"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "tags": [
          "Notes"
        ],
        "summary": "Update a note",
        "description": "Change a note; only what you send changes. The body changes one way per request: `body` replaces all of it, `append` adds text at the end (on the next line when it continues a list or a table), or `find` with `replace_with` changes one exact place, such as a table row. `find` must appear exactly once, or nothing changes and you get 422. Also sets `title`, `topic` (empty clears it), `tags` (replaces them; an empty list clears them) and `pinned`. Answers with the note as it is now. Only your own; anyone else gets 404. Needs `notes:write`.",
        "operationId": "update_note",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Note Id"
            },
            "example": "3b9e6f2a-1c4d-4e8f-9a7b-5d2c0e1f8a6b"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNoteRequest"
              },
              "example": {
                "find": "| Tobi | 12,000 | owes |",
                "replace_with": "| Tobi | 12,000 | paid |"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The note as it is now.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                },
                "example": {
                  "id": "3b9e6f2a-1c4d-4e8f-9a7b-5d2c0e1f8a6b",
                  "title": "Dinner split 27 Sep",
                  "body": "| Who | Owes | Status |\n| --- | --- | --- |\n| Ada | 12,000 | paid |\n| Tobi | 12,000 | paid |",
                  "topic": "Money",
                  "tags": [
                    "dinner",
                    "split"
                  ],
                  "pinned": true,
                  "source": "api",
                  "created_at": "2026-10-10T09:00:00Z",
                  "updated_at": "2026-10-10T09:30:00Z",
                  "link": "/notes/3b9e6f2a-1c4d-4e8f-9a7b-5d2c0e1f8a6b"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/Idempotent-Replayed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "tags": [
          "Notes"
        ],
        "summary": "Delete a note",
        "description": "Delete a note for good; it cannot be brought back. Answers with its id and title and `deleted: true`. Only your own; anyone else gets 404. Needs `notes:write`.",
        "operationId": "delete_note",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Note Id"
            },
            "example": "3b9e6f2a-1c4d-4e8f-9a7b-5d2c0e1f8a6b"
          }
        ],
        "responses": {
          "200": {
            "description": "The note is gone for good.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteDeleted"
                },
                "example": {
                  "id": "3b9e6f2a-1c4d-4e8f-9a7b-5d2c0e1f8a6b",
                  "title": "Dinner split 27 Sep",
                  "deleted": true
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/X-Request-ID"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/runs/{run_id}": {
      "get": {
        "tags": [
          "Runs"
        ],
        "summary": "Get a run",
        "description": "Any run, skill or workflow: its status, and the result once it has finished. Skill runs hold their rows in `rows`; workflow runs hold `outputs` and have `kind: \"workflow\"`. Needs `runs:read` for a skill run, `workflows:read` for a workflow run.",
        "operationId": "get_run",
        "security": [
          {
[...]
